---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "milligram/milligram",
        "base",
        "layout"
;

.container a {
        color: $color-link;
        text-decoration: underline;
}

.container a:hover {
        color: $color-link-hover;
}

.height-100-pct {
        height: 100%;
}

.homepage-container {
        width: 100%;
        height: 100%;
        display: table;
        text-align: center;
}

.homepage  {
        display: table-cell;
        vertical-align: middle;
}

.homepage-image {
        width: 100%;
        @media (min-width: 500px) {
                max-width: 500px;
}
}


.nav-item-div {
        background-color: white;
        // display: inline-block;

}

@media (min-width:349px) {
        .nav-item-div {
                background-color: white;
                display: inline-block;
        
        }
}



.nav-item-div :hover, .nav-item-div :focus, .nav-item-div :active
        {
        background-color: black;
        // display: inline-block;
        color: #ffffff;

}

.nav-item {
        display: block;
        padding: 1rem;
        margin: 0px;
        // color: $color-primary;
}

// .nav-item :hover {
//         // display: inline-block;
//         text-decoration: underline;
//         color: darken($color-primary, 25%);
// }

.nav-item-current {
        display: block;
        padding: 1rem;
        margin: 0px;
        font-weight: bold;
        // color: $color-primary;
}

.nav-item :hover, .nav-item :focus, .nav-item :active, .nav-item-current :hover, .nav-item-current :focus, .nav-item-current :active  {
        text-decoration: underline;
        color: #ffffff;
        // color: lighten($color-primary, 100%);
}

@media (min-width: 349px) {
span.keeptogether {
        white-space: nowrap ;
      } 
}
// @media (max-width: 350px) {
// .navbar {
//         padding-top:10px;
// }
//         }

@media (min-width: 349px) {
.nav-item-current {
        display: inline-block;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        font-weight: bold;
      }
.nav-item {
        display: inline-block;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
}
}

.breadcrumbs {
        font-size: 1.2rem;
        text-decoration: none !important;
        color: gray !important;
}

.breadcrumbs :hover {
        text-decoration: underline !important;
}


.center {
        text-align: center;
}

.videowrapper {
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
    }
.videowrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


.small-text {
        font-size: 0.8em;
}