{% assign current = page.url | downcase | split: '/' %}
<nav class="navbar">
<ul>
    <!-- <li class="nav-item"><a href="{{ site.baseurl }}/">home</a></li> -->
    <!-- <li {% if current[1] == 'editing' %} class='nav-item-current' {% elsif current[2] == 'editing' %} class='nav-item-current'{% else %}class='nav-item' {% endif %} ><a href="{{ site.baseurl }}/editing/">Editing</a></li>
    <li {% if current[1] == 'new-media' %} class='nav-item-current' {% elsif current[2] == 'new-media' %} class='nav-item-current'{% else %}class='nav-item' {% endif %} ><a href="{{ site.baseurl }}/new-media/">New Media</a></li>
    <li {% if current[1] == 'videography' %} class='nav-item-current' {% elsif current[2] == 'videography' %} class='nav-item-current'{% else %}class='nav-item' {% endif %} ><a href="{{ site.baseurl }}/videography/">Videography</a></li> -->
    <li {% if current[1] == 'portfolio' %} class='nav-item-current' {% elsif current[2] == 'portfolio' %} class='nav-item-current'{% else %}class='nav-item' {% endif %} ><a href="{{ site.baseurl }}/portfolio/">Portfolio</a></li>
    <span class="keeptogether"><li {% if current[1] == 'resume' %} class='nav-item-current' {% else %} class='nav-item' {% endif %} ><a href="{{ site.baseurl }}/resume/">Resume</a></li>
    <li {% if current[1] == 'contact' %} class='nav-item-current' {% else %} class='nav-item' {% endif %} ><a href="{{ site.baseurl }}/contact/">Contact</a></li></span>
</ul>
</nav>